* {
  margin: 0;
  padding: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Pushes the footer to the bottom if content is less */
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.634); /* Transparent black background */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light border for a glassy look */
  padding: 0 15px;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.nav-bar-logo {
  width: 4%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.432);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

/* Content */
.content {
  background: url("/bg1.png") no-repeat center center;
  background-size: cover;
  /* background-color: aquamarine; */
  overflow-x: hidden;

  /* max-width: 100vw;
  max-height: 50%; */

  /* Ensure it spans full width */
  height: 100vh; /* Set the height to 50% of the viewport height */
  margin-top: 60px; /* Push below the fixed navbar */
  display: flex; /* Optional: for aligning children */
  /* Optional: organize content vertically */
  justify-content: flex-start; /* Optional: center content vertically */

  padding: 10px;
}
.content-data {
  margin-top: 200px;
  width: 40%;
}
.content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.2em;
  line-height: 1.6;
}
.service-section {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.service-section p {
  color: black;
}
.service-section h2 {
  color: #333;
}

.service-section ul {
  color: black;
  padding-left: 20px;
  list-style-type: disc;
}

/* Footer */
footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
}
