<body>
  <header>
    <nav class="navbar">
      <img class="nav-bar-logo" src="/acf_logo.jpg" alt="logo" />
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="content">
      <h1>Welcome to Our Website</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <p>More content here...</p>
    </section>
  </main>
  <!-- <footer>
      <p>&copy; 2024 Your Company. All rights reserved.</p>
  </footer> -->
</body>
