<nav>
  <div class="brand">
    <p>Dark</p>
  </div>
  <button class="hamburger" (click)="toggleMenu()" aria-label="Toggle Menu">
    &#9776;
  </button>
  <div class="menu" [ngClass]="{ active: isMenuActive }">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/About">About</a></li>
      <li>
        <a routerLink="/Admin-Dashboard" routerLinkActive="router-link-active">
          Admin Dashboard
        </a>
      </li>
      <li><a routerLink="/Game">Game</a></li>
      <li><a routerLink="/Contacts">Contacts</a></li>
    </ul>
  </div>
</nav>
